.movie-item-card {
}

.movie-item-poster {
    height: 40rem;
}

.movie-item-card-actions {

}

.favoris {
    width: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.5;
}

.favoris:hover {
    width: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 1;
}
